/**
*   Светло-зеленый: #1e6f00
*   Серый: #f5f5f5
*/

.navbar-inverse .navbar-brand {
    color: #fff;
}

.nav .navbar-right .top-nav {
    background-color: #1e6f00;
}

@media (min-width: 768px) {
    .side-nav li a {
        color: #000 !important;
    }

    .side-nav li a:hover, .side-nav li a:focus {
        background-color: #1e6f00 !important;
        color: #fff !important;
    }
}

/* Убрать отступы в левом меню */
.collapse a {
    padding-top: 3px !important; padding-bottom: 3px !important;;
}

/* Сделать быструю анимацию в левом меню */
.collapsing {
    -webkit-transition: none;
    transition: none;
}